@media(min-widt:992px){
    .navbar-expand-lg .navbar-collapse{
        width: 100%;
    }
}

#rep{
    background-image: url(./img/banner2.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
}

hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-top: 3px solid #f42d09;
    align-items: center;
}